<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.AfterSalesMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.AfterSales">
            <id property="id" column="id" />
            <result property="custId" column="cust_id" />
            <result property="question" column="question" />
            <result property="state" column="state" />
            <result property="grade" column="grade" />
            <result property="level" column="level" />
    </resultMap>

    <sql id="Base_Column_List">
        id,cust_id,question,state,grade,level
    </sql>
    <select id="queryAfterSaleMapper" resultType="com.erp.pojo.AfterSales">
        select aft.*,customer.cust_name custName from t_customer customer
        inner join t_after_sales aft on customer.id=aft.cust_id
        <where>
            <if test="id!=null">
                aft.id=#{id}
            </if>
            <if test="question!=null and question!=''">
                and question=#{question}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>
            <if test="grade!=null and grade!=''">
                and aft.grade=#{grade}
            </if>
        </where>
    </select>
    <select id="countQuestionMapper" resultType="com.erp.dto.CountResult">
        SELECT count value,concat(question,':',ROUND(count/total*100,2),'%') name FROM(
            SELECT
            question,
            COUNT(id) AS count,
            (SELECT COUNT(id) FROM t_after_sales) AS total
            FROM
            t_after_sales
            GROUP BY
            question
            )out_table
    </select>
</mapper>
