<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.CategroryMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.Categrory">
            <id property="id" column="id" />
            <result property="isbn" column="isbn" />
            <result property="cateName" column="cate_name" />
            <result property="remark" column="remark" />
            <result property="pid" column="pid" />
    </resultMap>

    <sql id="Base_Column_List">
        id,isbn,cate_name,remark,pid
    </sql>
</mapper>
