<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.Item">
            <id property="id" column="id" />
            <result property="itemNum" column="item_num" />
            <result property="itemName" column="item_name" />
            <result property="typeId" column="type_id" />
            <result property="store" column="store" />
            <result property="brandId" column="brand_id" />
            <result property="storeId" column="store_id" />
            <result property="supplyId" column="supply_id" />
            <result property="placeId" column="place_id" />
            <result property="unitId" column="unit_id" />
            <result property="price" column="price" />
            <result property="sellPrice" column="sell_price" />
            <result property="vipPrice" column="vip_price" />
            <result property="itemDesc" column="item_desc" />
            <result property="itemDate" column="item_date" />
            <result property="endDate" column="end_date" />
            <result property="hotTitle" column="hot_title" />
            <result property="facturer" column="facturer" />
            <result property="statue" column="statue" />
            <result property="imgs" column="imgs" />
            <result property="createBy" column="create_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id,item_num,item_name,type_id,store,brand_id,
        store_id,supply_id,place_id,unit_id,price,
        sell_price,vip_price,item_desc,item_date,end_date,
        hot_title,facturer,statue,imgs,create_by
    </sql>

    <select id="queryItemListMapper" resultType="com.erp.pojo.Item">
        select item.*,type.cate_name,brand.brand_name,store.store_name,
        supply.supply_name,place.place_name,unit.unit_name from t_item item
    inner join t_categrory type on type.id=item.type_id
    inner join t_brand brand on brand.brand_id=item.brand_id
    inner join t_store store on store.store_id=item.store_id
    inner join t_supply supply on supply.supply_id=item.supply_id
    inner join t_place place on place.place_id=item.place_id
    inner join t_unit unit on unit.unit_id=item.unit_id
        <where>
            <if test="itemNum!=null and itemNum!=''">
                item.item_num=#{itemNum}
            </if>
            <if test="itemName!=null and itemName!=''">
                and item.item_name=#{itemName}
            </if>
            <if test="statue!=null">
                and item.statue=#{statue}
            </if>

        </where>
    </select>
</mapper>
