<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.RolerMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.Roler">
            <id property="id" column="id" />
            <result property="rname" column="rname" />
            <result property="rdesc" column="rdesc" />
    </resultMap>

    <sql id="Base_Column_List">
        id,rname,rdesc
    </sql>
    <select id="queryRoleMidMapper" resultType="java.lang.Integer"
            parameterType="java.lang.Integer">
        SELECT t_role_menu.mid from t_menus INNER JOIN t_role_menu
        on t_menus.id = t_role_menu.mid
        WHERE rid=#{rid} and t_menus.pid!=0
    </select>
</mapper>
