<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.erp.pojo.RoleMenu">
            <id property="id" column="id" />
            <result property="rid" column="rid" />
            <result property="mid" column="mid" />
    </resultMap>

    <sql id="Base_Column_List">
        id,rid,mid
    </sql>

</mapper>
